/***** BASE STYLES *****/

p {
    font: 16px/1.5 'Source Sans Pro', sans-serif;}
 

h1 {font-family: 'Oswald', sans-serif;
             color: #e8a910;}

h3 h4 {font-family: 'Open Sans', sans-serif;
    }

ul {
    margin: 0;
    padding: 0;
}


/***** HEADER *****/

header {height: 50px;}


header h1 {font-family: 'Oswald', sans-serif;
             }
header  nav a {
  float: right;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header nav li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;}

header nav a:hover {
  color: black;
}

header #branding {
    float: left;
}

header #branding h1 {margin: 0;
padding: 5px;
color: #000000;}

header nav {float: right;
margin-top: 15px;}


header .hilight {
    color: green;
    font-weight: bold;
}


/***** BANNER *****/

#banner {background-image: url("../img/hero-image.png");
        background-size:cover;
    height: 750px;}


#banner h1 {
    padding-top: 250px;
}
#banner h2 {font-family: 'Playfair Display', serif;
    color: #095156;
}


/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
    text-align:center;
}

.half-width {
    float: left;
    width: 550px;
    text-align: left;
}

.third-width {
    float: left;
    width: 400px;
}

header .full-width {
    padding: 400px 0px;
}



/***** WORK *****/
#work{
    height: 1200px;
}

#work h2 { color:#095156; }

#work h3 {color:#095156; }

#work h4 {color:#095156; }
    

jubilee {
    padding-top: 110px;
    padding-bottom: 50px;
}

#aboutJubilee {
    padding-bottom: 150px;
    padding-left: 50px;

}

rogue {
    padding-top: 80px;
    padding-bottom: 50px;
}
#aboutRogue {
    padding-left: 50px;

}

#Holstee {
    padding-top: 30px;
}
#aboutHolstee {
    padding-top: 80px;
    padding-left: 50px;
}


/***** BOXES *****/

#boxes {
    background: #90bab2;
    color: #ffffff;
    height: 275px;
    padding-bottom: 60px;
    }

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img {
    width: 90px;
}

#boxes h2 {
    padding-top: 20px;
}


/***** ABOUT ME *****/


#aboutMe {
    background: #ba90a9;
    color: #ffffff;
    height: 375px; 
    padding-top: 5px;

}


#aboutMe h2 {padding-top: 15px;
             }

#aboutMe h3 {
    font-family: 'Playfair Display', serif;  
    padding-top: 10px;
    padding-bottom: 35px;
}

#aboutMe p{
    padding-bottom: 35px;

}

#about-me-image .imgframe{

    background:#b589a3;
    padding:12px;
    border:1px solid #b589a3; }
    


/***** CONTACT ME *****/

#contact {
    background: #baad90;
    color: #ffffff;
    padding-top: 20px;
    height: 450px;
}


#contact h2 {
    text-align:center;
    padding-top: 50px;
}

#contact h3 {
    font-weight: 700;
    line-height: 60px;
}

#contact p {
        font-weight: 400;
        line-height: 40px;

}

#copyright{
    padding-top: 250px;
}

#contact a {
    color: white;
}
#contact ul {
    list-style: none;
}
#contact ul li {
    display: inline-block;
}
#contact li {
    margin: 0 50px 0 0;
}




